<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	id="IPL WEB APP" version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<display-name>DefaultServlet</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.DefaultServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<display-name>HomeServlet</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeamServlet</servlet-name>
		<display-name>TeamServlet</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.TeamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlayerServlet_addplayer</servlet-name>
		<display-name>PlayerServlet_addplayer</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.PlayerServlet_addplayer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlayerServlet_removeplayer</servlet-name>
		<display-name>PlayerServlet_removeplayer</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.PlayerServlet_removeplayer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberServletAddMember</servlet-name>
		<display-name>MemberServletAddMember</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.MemberServletAddMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberServletRemoveMember</servlet-name>
		<display-name>MemberServletRemoveMember</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.MemberServletRemoveMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeamnameServlet</servlet-name>
		<display-name>TeamnameServlet</display-name>
		<description></description>
		<servlet-class>in.co.ipl.servlets.TeamnameServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeamServlet</servlet-name>
		<url-pattern>/team</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeamnameServlet</servlet-name>
		<url-pattern>/teamname</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayerServlet_addplayer</servlet-name>
		<url-pattern>/player_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayerServlet_removeplayer</servlet-name>
		<url-pattern>/player_remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberServletAddMember</servlet-name>
		<url-pattern>/member_add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberServletRemoveMember</servlet-name>
		<url-pattern>/member_remove</url-pattern>
	</servlet-mapping>

</web-app>
